@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&display=swap');

:root {
  --primary-background: #ECECD1;
  --secondary-background: #F1F0E3;
  --secondary : #4B5562;
  --body-blue: #6C90B7;
  --body-red: #C85A5A;
  --body-orange: #E69A5C;
  --body-yellow: #E8C45E;
  --body-green: #7FAF75;
}

body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--primary-background);
  color: black;
}


.head-section {
  position: relative; /* Key addition */
  width: 100%;
  height: 100vh;       /* Or however tall you want this section */
  overflow: hidden;    /* Optional: prevents canvas overflow */
  border: none;
}

.head-section p {
  color: black;
  z-index: 4;
  font-size: 30px;
}


h1 {
  font-family: "Rampart One", sans-serif;
  font-weight: bold;
  font-size: clamp(1rem, 10vw, 800px); /* ← limits to max 70px */
  margin: 0;
  padding: 3px;
  color: black;
  z-index: 3;
  width: 100%;
  text-align: center;
}

@media (max-width: 750px) {
  h1{
    font-size: clamp(1rem, 16vw, 800px); /* ← limits to max 70px */
  }
}

 
h2{
  font-family: "Rampart One", sans-serif;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 6px;
  text-decoration-color: var(--body-blue);
  text-underline-offset: 8px; /* Adjust as needed */
}

.work .underline{
  text-decoration-color: var(--body-red);
}

.about .underline{
  text-decoration-color: var(--body-green);
}

.contact .underline{
  text-decoration-color: var(--body-yellow);
}

.project .underline{
  text-decoration-color: var(--body-orange);
}


li, h3{
  color: black;
}

@media (max-width: 750px) {
  p {
    font-size: 20px;
    padding: 5px;
    margin: 30px;
    margin-bottom: 120px;
  }
}

li{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}

p{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}

section p{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
}


.head-section{
  height: 100vh;
  width: 100vw;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  z-index: 6;
}



.banner nav button {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-background);
  background-color: #333;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 25px;
}

@media (max-width: 750px) {
  .banner{
    padding-left: 0px;
  }
  .banner nav button{
    font-size: 16px;
    margin: 0px;
  }
}

.banner nav button:hover {
  background-color: var(--body-blue);
}

.banner nav .aboutB:hover {
  background-color: var(--body-green);
}

.banner nav .ProjectsB:hover {
  background-color: var(--body-orange);
}

.banner nav .workB:hover {
  background-color: var(--body-red);
}

.banner nav .ContactB:hover {
  background-color: var(--body-yellow);
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills {
  width: 100%;             /* Full width of parent */
  margin: 0 auto;          /* Center the section */
  padding: 20px;
  box-sizing: border-box;
}

.work {
  width: 100%;             /* Full width of parent */
  margin: 0 auto;          /* Center the section */
  padding: 20px;
  box-sizing: border-box;
}

section{
  font-family: "Rampart One", sans-serif;
  font-weight: normal;
  font-size: 40px;
}

.main:nth-child(odd) {
  background-color: var(--primary-background);
}

.main:nth-child(even) {
  background-color: var(--secondary-background);
}

#about-info{
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

#about-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-right button{
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  margin: 30px;
  padding: 10px;
  font-size: 25px;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 5px solid var(--secondary);
  background-color: var(--secondary-background);
  color: var(--secondary);
  border-radius: 20px;
  gap: 5px;
}



#about-right img{
  width: 40px;
  height: 40px;
  border: none;
  margin: 1px;
  padding: 1px;
}


.about img{
  width: 300px;
  height: 300px;
  object-fit: contain;
  margin: 20px;
  padding: 0px;
  border: 4px solid var(--secondary);   /* Custom color */
  border-radius: 20px;          /* Optional rounded corners */
}

@media (max-width: 750px) {
  .about img{
    width: 200px;
    height: 200px;         /* Optional rounded corners */
  }
  #about-info{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  #about-info p{
    font-size: 20px;
    padding: 0px;
    margin-bottom: 10px;
  }
}


.about p{
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0px;
  margin-bottom: 28px;
  padding: 10px;
  font-size: 30px;
}

.about h2{
  margin: 10px;
  margin-top: 40px;
}

.contact .icon {
  width: 70px;
  height: auto;
  margin: 32px;
  margin-bottom: 30px;
}

.contact div{
  display: flex;
  margin-bottom: 0px;
}

.contact p{
  margin: 0px;
  margin-bottom: 80px;
}